.container
{
    display: grid;
    width:300px;
    margin:auto;
    grid-gap: 5px;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    grid-template-areas: 
        'result result result result'
        'plus minus divide multiply'
        'digit1 digit2 digit3 equals'
        'four five six equals'
        'seven eight nine equals'
        'clear clear zero equals';
}

#display
{
    grid-area: result;
    height: 45px;
    text-align: right;
    background-color: white;
    font-size: 20px;
    border: thin black solid;
    border-radius: 5px;
}

.button
{
    background-color: white;
    text-align: center;
    font-size: 20px;
    border: thin black solid;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
}

.plus
{
    grid-area:plus;
}

.minus
{
    grid-area:minus;
}

.divide
{
    grid-area: divide;
}

.multiply
{
    grid-area: multiply;
}

.one
{
    grid-area: digit1
}

.two
{
    grid-area: digit2;
}

.three
{
    grid-area: digit3;
}

.four
{
    grid-area: four;
}

.five
{
    grid-area: five;
}

.six
{
    grid-area:six;
}

.seven
{
    grid-area: seven;
}

.eight
{
    grid-area: eight;
}

.nine
{
    grid-area: nine;
}

#equals
{
    grid-area: equals;
    height:202px;
    line-height: 202px;
}

.clear
{
    grid-area: clear;
}
